{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/faq.css')}}">

{% endblock %}

{% block content %}
<div class="container col-lg-6 col-md-10 col-sm-12" style="margin-top: 180px; margin-bottom: 120px;">

    <h2 style="color: darkcyan; letter-spacing: 1px; margin-bottom: 30px; font-family: 'exo'; font-size: 40px;">Frequently Asked Question</h2>

    <button class="accordion">What is the importance of health checkup?</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus magni unde porro, illo voluptates? Totam quibusdam veritatis magnam mollitia, deserunt assumenda incidunt aut aliquam! Exercitationem esse dolorum ratione quasi, impedit assumenda voluptas necessitatibus maxime.</p>
    </div>

    <button class="accordion">How easy is it to make check for disease?</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus magni unde porro, illo voluptates? Totam quibusdam veritatis magnam mollitia, deserunt assumenda incidunt aut aliquam! Exercitationem esse dolorum ratione quasi, impedit assumenda voluptas necessitatibus maxime.</p>
    </div>

    <button class="accordion">What all features are awailable?</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus magni unde porro, illo voluptates? Totam quibusdam veritatis magnam mollitia, deserunt assumenda incidunt aut aliquam! Exercitationem esse dolorum ratione quasi, impedit assumenda voluptas necessitatibus maxime.</p>
    </div>

    <button class="accordion">Why check on predictium?</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus magni unde porro, illo voluptates? Totam quibusdam veritatis magnam mollitia, deserunt assumenda incidunt aut aliquam! Exercitationem esse dolorum ratione quasi, impedit assumenda voluptas necessitatibus maxime.</p>
    </div>

    <button class="accordion">What diseases can be predicted?</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus magni unde porro, illo voluptates? Totam quibusdam veritatis magnam mollitia, deserunt assumenda incidunt aut aliquam! Exercitationem esse dolorum ratione quasi, impedit assumenda voluptas necessitatibus maxime.</p>
    </div>

    <button class="accordion">How accurate is the checkup?</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus magni unde porro, illo voluptates? Totam quibusdam veritatis magnam mollitia, deserunt assumenda incidunt aut aliquam! Exercitationem esse dolorum ratione quasi, impedit assumenda voluptas necessitatibus maxime.</p>
    </div>

    <button class="accordion">How do I report a bug?</button>
    <div class="panel">
    <p>If you find a bug in the app, please let us know right away so we can fix it as quickly as possible. Click on 'Email Us' given in footer, you will be directed to mail so that you can send your problem to us via email.</p>
    </div>
</div>
<div class="bottom-container" style="background-color: #38424b; padding: 40px;text-align: center;">
    <a class="footer-link" href="https://www.linkedin.com">LinkedIn</a>
    <a class="footer-link" rel="nofollow noreferrer" href="mailto:punerva21@gmail.com"> Email us </a>
    <a class="footer-link" href="https://github.com/samya02/WE-Project-Disease-Predictor"> Github Repository </a>
    <a class="footer-link" rel="nofollow noreferrer" href="{{url_for('guideline')}}"> Guide </a> 
    <a class="footer-link" href="{{url_for('terms')}}"> Terms of Service </a>
    <a class="footer-link" href="{{url_for('faq')}}"> FAQ's </a>
    <p style="color:white;margin-top: 30px; color: rgb(95, 91, 91);" class="copyright">© 2021 predictium @ Talentsprint Project.</p>
</div>
<script src="{{url_for('static', filename='js/faq.js')}}"></script>
{% endblock %}